@page
@functions
{
    public string? DayName { get; set; }
    public void OnGet()
    {
        ViewData["Title"] = "Northwind B2B";
        Model.DayName = DateTime.Now.ToString("dddd");
    }
}

    <div class="jumbotron">
        <h1 class="display-3">Welcome to Northwind B2B</h1>
        <p class="lead">Мы отправляем продукты нашим клиентам</p>
        <hr />
        <p>Сейчас @Model.DayName! В число наших клиентов входят рестораны, отели, круизные корабли</p>
        <p>
            <a class="btn btn-primary" href="suppliers">Ещё...</a>
        </p>
    </div>