@page
@using Packt.Shared
@model Northwind.Web.Pages.SuppliersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <h1 class="display-2">Поставщики</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Название компании</th>
                <th>Страна</th>
                <th>Телефон</th>
            </tr>
        </thead>
        <tbody>
            @if (Model._suppliers is not null)
            {
                @foreach(Supplier s in Model._suppliers)
                {
                    <tr>
                        <td>@s.CompanyName</td>
                        <td>@s.Country</td>
                        <td>@s.Phone</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row">
    <p>Введите данные для добавления нового поставщика:</p>
    <form method="POST">
        <div>
            <input asp-for="_supplier.CompanyName" placeholder="Название компании" />
        </div>
        <div>
            <input asp-for="_supplier.Country" placeholder="Страна компании" />
        </div>
        <div>
            <input asp-for="_supplier.Phone" placeholder="Телефон" />
        </div>
        <input type="submit" />
    </form>
</div>